<strong>Olá, {{ owner }}</strong>
<p>Houve uma inscrição no seu evento {{ title }}.</p>
<p>
  <strong>Realizada por:</strong> {{ user }} <br />
  <strong>Data/hora:</strong> {{ date }} <br />
  <br />
</p>
